*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(test2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 420px;
    background: #fef3f1;
    border: 2px solid #a2101d;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: #a2101d;
}

.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height:100%;
    background: transparent;
    outline: none;
    border: 2px solid #a2101d;
    border-radius: 40px;
    font-size: 16px;
    color: #a2101d;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #a2101d;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #a2101d;
    border-color: #a2101d;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fef3f1;
    font-weight: 600;
}